<!DOCTYPE html>
<html lang="ru-RU"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="gD7w1Rkosoq6kOXz5onJ_2PgcZJ3CCvNgwaiGsrNA531eaW3XWL42v3J1Muo-fq5JpZG9ztdb4HMTdh1nYlW0Q==">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CCTV and AC - Projects</title>
</head>
<body style="min-height: 100vh" class="d-flex flex-row align-items-center">


<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card mx-4">
                <div class="card-body p-4">
                    <h4 class="text-muted text-center mb-3">Добро пожаловать в систему обработки проектных заявок интегрированных комплексов безопасности</h4>
                    <p class="text-muted mt-4 mb-0">
                        На сервере ведутся работы
                    </p>
                    <p class="text-muted">
                        Это может занять несколько минут
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
